.container {
  padding: 0 6%;
  background: rgba(228, 247, 253, 0.9);
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 3%;
}

nav ul li{
  list-style: none;
  display: inline-block;
}

a{
  text-decoration: none;
  font-size: 18px;
  color: #333;
  margin: 0 10px;
}

.Logo{
  width: 90px;
  border-radius: 50%;
}

/* content */

.header-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgba(219, 243, 250, 0.9);
  height: 80vh;
}

.card-text, .card-image{
  width: 700px;
  height: 400px;
  /* background: ; */
  margin: 10px;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}
.card-image{
  /* border: 3px solid red; */
  height: 60vh;
}


.travelUser{
  width: 100%;
  border-radius: 20px;
}